<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM25_Model</title>
    <link rel="stylesheet" href="../static/appariement.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="../static/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
</head>

<body>
    <p>BM_25 Model</p>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item logo">
                <a href="#" class="navbar-link">
                    <i class="fas fa-chevron-right navbar-icon"></i>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/" class="navbar-link">
                    <i class="fa-solid fa-house fa-2xl navbar-icon" style="color: #0c0d0d;"></i>
                    <span class="navbar-title">Home </span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/indexation" class="navbar-link">
                    <i class="fa-solid fa-i fa-2xl navbar-icon" style="color: #0c0d0d;"></i>
                    <span class="navbar-title">Indexation </span>
                </a>
            </li>
            <li class="navbar-item preprocessing">
                <a href="/appariement" class="navbar-link">
                    <i class="fa-solid fa-v fa-2xl navbar-icon" style="color: #19191a;"></i>
                    <span class="navbar-title"> Vectoriel Model </span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/kb_model" class="navbar-link">
                    <i class="fa-solid fa-m fa-2xl navbar-icon" style="color: #0c0d0d;"></i>
                    <span class="navbar-title">BM25 Model</span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/boolean" class="navbar-link">
                    <i class="fa-solid fa-b fa-2xl navbar-icon" style="color: #121212;"></i>
                    <span class="navbar-title">Boolean Model</span>
                </a>
            </li>
        </ul>
    </nav>
    <form action="/kb_model" id="form" method="POST" enctype="multipart/form-data">

        <div id="query_zone">
            <label id="query3" for="query">Query:</label>
            <textarea id="area3" name="area3" rows="3" cols="70"></textarea>
            <button id="sub_but3" onclick="submitForm()">Recherche</button>
            <button type="button" id="refresh_btn3" onclick="refreshForm()">Refresh</button>
        </div>
        <br>

        <label for="processing" id="lab_off">Processing:</label>
        <div id="processing">
            <label><input type="radio" name="processingType3" value="Token">Token</label>
            <label><input type="radio" name="processingType3" value="Split">Split</label>
        </div>
        <br>

        <label for="stemming" id="lab_off">Stemming:</label>
        <div id="stemming">
            <label><input type="radio" name="stemmingType3" value="Porter">Porter</label>
            <label><input type="radio" name="stemmingType3" value="Lancaster">Lancaster</label>
        </div>
        <br>

        <label for="index" id="lab_off">Index:</label>
        <div id="index">
            <label><input type="radio" name="indexType3" value="Inverse">Inverse</label>
            <label><input type="radio" name="indexType3" value="Descripteur">Descripteur</label>
        </div>
        <br>

        <label for="probabilisticModel" id="lab_off">Probabilistic Model:</label>
        <div id="probabilisticModel">
            <label><input type="number" name="K" step="0.01" required>K</label>
            <label><input type="number" name="B" step="0.01" required> B</label>
        </div>

        <br>
        {% if results %}
        <h2>Résultats :</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>N° Document</th>
                    <th>Relevance</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.doc_id }}</td>
                    <td>{{ result.relevance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        

    </form>

    <script>
        // Function to store form data in local storage
        function storeFormData() {
            localStorage.setItem('area3', document.getElementById('area3').value);

            var processingType = document.querySelector('input[name="processingType3"]:checked');
            if (processingType) {
                localStorage.setItem('processingType3', processingType.value);
            }

            var stemmingType = document.querySelector('input[name="stemmingType3"]:checked');
            if (stemmingType) {
                localStorage.setItem('stemmingType3', stemmingType.value);
            }

            var indexType = document.querySelector('input[name="indexType3"]:checked');
            if (indexType) {
                localStorage.setItem('indexType3', indexType.value);
            }

            var k = document.querySelector('input[name="K"]').value;
            var b = document.querySelector('input[name="B"]').value;
            localStorage.setItem('K', k);
            localStorage.setItem('B', b);
        }

        // Function to retrieve form data from local storage and set in form elements
        function retrieveFormData() {
            document.getElementById('area3').value = localStorage.getItem('area3') || '';

            var processingType = localStorage.getItem('processingType3');
            if (processingType) {
                document.querySelector('input[name="processingType3"][value="' + processingType + '"]').checked = true;
            }

            var stemmingType = localStorage.getItem('stemmingType3');
            if (stemmingType) {
                document.querySelector('input[name="stemmingType3"][value="' + stemmingType + '"]').checked = true;
            }

            var indexType = localStorage.getItem('indexType3');
            if (indexType) {
                document.querySelector('input[name="indexType3"][value="' + indexType + '"]').checked = true;
            }

            var k = localStorage.getItem('K');
            var b = localStorage.getItem('B');
            document.querySelector('input[name="K"]').value = k || '';
            document.querySelector('input[name="B"]').value = b || '';
        }

        // Function to be called when the form is submitted
        function submitForm() {
            storeFormData();
            // Add any additional logic for form submission
            // ...
        }

        // On page load, retrieve form data and set in form elements
        window.onload = function () {
            retrieveFormData();

            // Check if the page was loaded by navigating back
            window.addEventListener('pageshow', function (event) {
                if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                    // Page was cached, clear form data
                    refreshForm();
                }
            });
        };

        // Function to be called when the form is submitted
        function refreshForm() {
            // Réinitialiser les champs du formulaire
            document.getElementById('area3').value = '';
            var processingType = document.querySelector('input[name="processingType3"]:checked');
            if (processingType) {
                processingType.checked = false;
            }
            var stemmingType = document.querySelector('input[name="stemmingType3"]:checked');
            if (stemmingType) {
                stemmingType.checked = false;
            }
            var indexType = document.querySelector('input[name="indexType3"]:checked');
            if (indexType) {
                indexType.checked = false;
            }

            // Réinitialiser les champs K et B
            document.querySelector('input[name="K"]').value = '';
            document.querySelector('input[name="B"]').value = '';

            localStorage.removeItem('K');
            localStorage.removeItem('B');
            localStorage.clear();
            // Cacher les éléments que vous ne souhaitez pas afficher pendant le refresh
            var labOffElement = document.getElementById('lab_off');
            if (labOffElement) {
                labOffElement.style.display = 'none';
            }

            // Cacher l'élément h2 contenant "Résultats:"
            var h2Element = document.querySelector('h2');
            if (h2Element) {
                h2Element.style.display = 'none';
            }

            // Vous pouvez également effacer le contenu du tableau des résultats s'il est présent
            var table = document.querySelector('table');
            if (table) {
                table.parentNode.removeChild(table);
            }
        }
    </script>

</body>

</html>
